# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Ferramentas de empacotamento e testes
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/secrets.toml

# IDEs e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db